{
  "version": "7",
  "about": "This is a Prepros (https://prepros.io) configuration file. You can commit this file to a git repo to backup and sync project configurations.",
  "config": {
    "proxy": {
      "enable": false,
      "target": "",
      "useLocalAssets": false
    },
    "reload": {
      "enable": true,
      "delay": 0,
      "animate": true,
      "afterUpload": false
    },
    "sync": {
      "enable": false,
      "mouse": true,
      "keyboard": true,
      "form": true,
      "scroll": true
    },
    "watcher": {
      "enable": true,
      "maxFiles": 2000,
      "usePolling": false,
      "pollingInterval": 500,
      "extensions": [
        ".html",
        ".htm",
        ".php"
      ],
      "ignore": {
        "patterns": [
          ".*",
          "wp-admin",
          "wp-includes",
          "node_modules",
          "Prepros Export",
          "bower_components"
        ],
        "exceptions": []
      }
    },
    "exporter": {
      "ignore": {
        "patterns": [
          ".*",
          "desktop.ini",
          "prepros.cfg",
          "node_modules",
          "Prepros Export",
          "prepros.config",
          "prepros-6.config",
          "*-original.jpg",
          "*-original.jpeg",
          "*-original.png",
          "*-original.svg",
          "*.scss",
          "*.sass",
          "*.less",
          "*.pug",
          "*.jade",
          "*.styl",
          "*.haml",
          "*.slim",
          "*.coffee",
          "*.kit",
          "*.turf",
          "*.ts",
          "/_app",
          "*.db"
        ],
        "exceptions": []
      }
    },
    "uploader": {
      "remotePath": "/www/petrova.mymv.ru/extrasensorial-vision",
      "timeout": 20000,
      "autoUpload": false,
      "reuseConnection": true,
      "connectionType": "ftp",
      "history": [
        {
          "file": "favicon.ico",
          "mtimeMs": 1575383798687.9875,
          "date": "2023-02-16T08:34:49.179Z"
        },
        {
          "file": "favicon.png",
          "mtimeMs": 1671779431300.984,
          "date": "2023-02-16T08:34:49.602Z"
        },
        {
          "file": "index.html",
          "mtimeMs": 1676813167331.4006,
          "date": "2023-02-19T13:26:27.419Z"
        },
        {
          "file": "css/styles.css",
          "mtimeMs": 1676813411559.627,
          "date": "2023-02-19T13:30:29.501Z"
        },
        {
          "file": "css/styles.min.css",
          "mtimeMs": 1676813414205.5867,
          "date": "2023-02-19T13:30:30.166Z"
        },
        {
          "file": "css/styles.min.css.map",
          "mtimeMs": 1676813414273.5823,
          "date": "2023-02-19T13:30:30.830Z"
        },
        {
          "file": "fonts/CraftworkGrotesk.eot",
          "mtimeMs": 1676515068000,
          "date": "2023-02-16T13:02:55.771Z"
        },
        {
          "file": "fonts/CraftworkGrotesk.svg",
          "mtimeMs": 1676515068000,
          "date": "2023-02-16T13:02:56.418Z"
        },
        {
          "file": "fonts/CraftworkGrotesk.ttf",
          "mtimeMs": 1676515068000,
          "date": "2023-02-16T13:02:57.044Z"
        },
        {
          "file": "fonts/CraftworkGrotesk.woff",
          "mtimeMs": 1676515068000,
          "date": "2023-02-16T13:02:57.614Z"
        },
        {
          "file": "fonts/CraftworkGrotesk.woff2",
          "mtimeMs": 1676515068000,
          "date": "2023-02-16T13:02:58.235Z"
        },
        {
          "file": "fonts/CraftworkGroteskBold.eot",
          "mtimeMs": 1676515044000,
          "date": "2023-02-16T13:02:58.805Z"
        },
        {
          "file": "fonts/CraftworkGroteskBold.svg",
          "mtimeMs": 1676515044000,
          "date": "2023-02-16T13:02:59.457Z"
        },
        {
          "file": "fonts/CraftworkGroteskBold.ttf",
          "mtimeMs": 1676515044000,
          "date": "2023-02-16T13:03:00.048Z"
        },
        {
          "file": "fonts/CraftworkGroteskBold.woff",
          "mtimeMs": 1676515044000,
          "date": "2023-02-16T13:03:00.583Z"
        },
        {
          "file": "fonts/CraftworkGroteskBold.woff2",
          "mtimeMs": 1676515044000,
          "date": "2023-02-16T13:03:01.218Z"
        },
        {
          "file": "fonts/GropledBold.eot",
          "mtimeMs": 1676515076000,
          "date": "2023-02-16T13:03:01.846Z"
        },
        {
          "file": "fonts/GropledBold.svg",
          "mtimeMs": 1676515076000,
          "date": "2023-02-16T13:03:02.634Z"
        },
        {
          "file": "fonts/GropledBold.ttf",
          "mtimeMs": 1676515076000,
          "date": "2023-02-16T13:03:03.193Z"
        },
        {
          "file": "fonts/GropledBold.woff",
          "mtimeMs": 1676515076000,
          "date": "2023-02-16T13:03:03.859Z"
        },
        {
          "file": "fonts/GropledBold.woff2",
          "mtimeMs": 1676515076000,
          "date": "2023-02-16T13:03:04.511Z"
        },
        {
          "file": "img/backs/main.png",
          "mtimeMs": 1676549569645.408,
          "date": "2023-02-16T13:03:09.364Z"
        },
        {
          "file": "img/backs/revs.png",
          "mtimeMs": 1676730622664.1777,
          "date": "2023-02-18T14:30:28.138Z"
        },
        {
          "file": "img/icons/rect.png",
          "mtimeMs": 1676730563228.5664,
          "date": "2023-02-18T14:29:52.664Z"
        },
        {
          "file": "img/images/bullet-1.png",
          "mtimeMs": 1676712654000,
          "date": "2023-02-18T14:31:25.694Z"
        },
        {
          "file": "img/images/bullet-2.png",
          "mtimeMs": 1676712654000,
          "date": "2023-02-18T14:31:26.781Z"
        },
        {
          "file": "img/images/bullet-3.png",
          "mtimeMs": 1676712652000,
          "date": "2023-02-18T14:31:27.486Z"
        },
        {
          "file": "img/images/bullet-4.png",
          "mtimeMs": 1676712652000,
          "date": "2023-02-18T14:31:28.042Z"
        },
        {
          "file": "img/images/bullet-5.png",
          "mtimeMs": 1676712652000,
          "date": "2023-02-18T14:31:28.701Z"
        },
        {
          "file": "img/images/bullet-6.png",
          "mtimeMs": 1676712652000,
          "date": "2023-02-18T14:31:29.303Z"
        },
        {
          "file": "img/images/clouds-2.png",
          "mtimeMs": 1676712652000,
          "date": "2023-02-18T14:31:30.054Z"
        },
        {
          "file": "img/images/clouds.png",
          "mtimeMs": 1676712652000,
          "date": "2023-02-18T14:31:30.798Z"
        },
        {
          "file": "img/images/decor-1.png",
          "mtimeMs": 1676712652000,
          "date": "2023-02-18T14:31:31.548Z"
        },
        {
          "file": "img/images/decor-2.png",
          "mtimeMs": 1676712652000,
          "date": "2023-02-18T14:31:32.364Z"
        },
        {
          "file": "img/images/decor-3.png",
          "mtimeMs": 1676712654000,
          "date": "2023-02-18T14:31:33.168Z"
        },
        {
          "file": "img/images/decor-4.png",
          "mtimeMs": 1676712654000,
          "date": "2023-02-18T14:31:34.115Z"
        },
        {
          "file": "img/images/ev.png",
          "mtimeMs": 1676712654000,
          "date": "2023-02-18T14:31:34.960Z"
        },
        {
          "file": "img/images/logo.png",
          "mtimeMs": 1676712654000,
          "date": "2023-02-18T14:31:36.270Z"
        },
        {
          "file": "img/images/video.png",
          "mtimeMs": 1676712654000,
          "date": "2023-02-18T14:31:37.224Z"
        },
        {
          "file": "js/libs.js",
          "mtimeMs": 1676723659547.5637,
          "date": "2023-02-18T13:31:06.537Z"
        },
        {
          "file": "js/libs.min.js",
          "mtimeMs": 1676723669185.5862,
          "date": "2023-02-18T13:31:07.194Z"
        },
        {
          "file": "js/libs.min.js.map",
          "mtimeMs": 1676723669287.5835,
          "date": "2023-02-18T13:31:07.936Z"
        },
        {
          "file": "js/scripts.js",
          "mtimeMs": 1676798956115.504,
          "date": "2023-02-19T09:29:38.864Z"
        },
        {
          "file": "js/scripts.min.js",
          "mtimeMs": 1676798956916.4402,
          "date": "2023-02-19T09:29:39.373Z"
        },
        {
          "file": "js/scripts.min.js.map",
          "mtimeMs": 1676798956929.4377,
          "date": "2023-02-19T09:29:39.804Z"
        },
        {
          "file": "confirm/index.html",
          "mtimeMs": 1676632951854.4146,
          "date": "2023-02-17T11:22:39.133Z"
        },
        {
          "file": "css/confirm.css",
          "mtimeMs": 1676812936532.0872,
          "date": "2023-02-19T13:23:45.111Z"
        },
        {
          "file": "css/confirm.min.css",
          "mtimeMs": 1676812939313.084,
          "date": "2023-02-19T13:23:45.620Z"
        },
        {
          "file": "css/confirm.min.css.map",
          "mtimeMs": 1676812939538.087,
          "date": "2023-02-19T13:23:46.134Z"
        },
        {
          "file": "css/promo.css",
          "mtimeMs": 1676812936536.0862,
          "date": "2023-02-19T13:23:46.746Z"
        },
        {
          "file": "css/promo.min.css",
          "mtimeMs": 1676812939988.0854,
          "date": "2023-02-19T13:23:47.537Z"
        },
        {
          "file": "css/promo.min.css.map",
          "mtimeMs": 1676812940765.0862,
          "date": "2023-02-19T13:23:48.126Z"
        },
        {
          "file": "img/icons/gmail.png",
          "mtimeMs": 1676730554009.562,
          "date": "2023-02-18T14:29:51.416Z"
        },
        {
          "file": "img/icons/mailru.png",
          "mtimeMs": 1676730558656.8667,
          "date": "2023-02-18T14:29:51.935Z"
        },
        {
          "file": "img/icons/tg.png",
          "mtimeMs": 1676730567853.608,
          "date": "2023-02-18T14:29:53.571Z"
        },
        {
          "file": "img/icons/yahoo.png",
          "mtimeMs": 1676730572652.8425,
          "date": "2023-02-18T14:29:54.188Z"
        },
        {
          "file": "img/icons/yandex.png",
          "mtimeMs": 1676730577891.1833,
          "date": "2023-02-18T14:29:55.033Z"
        },
        {
          "file": "img/images/logo-2.png",
          "mtimeMs": 1676712654000,
          "date": "2023-02-18T14:31:35.657Z"
        },
        {
          "file": "promo/index.html",
          "mtimeMs": 1676632951694.4097,
          "date": "2023-02-17T11:22:39.506Z"
        },
        {
          "file": "img/icons/check.png",
          "mtimeMs": 1676730586292.8584,
          "date": "2023-02-18T14:29:50.833Z"
        },
        {
          "file": "img/revs/text-1.jpg",
          "mtimeMs": 1676712776000,
          "date": "2023-02-18T14:34:21.297Z"
        },
        {
          "file": "img/revs/text-1.min.jpg",
          "mtimeMs": 1676712776000,
          "date": "2023-02-18T14:34:22.131Z"
        },
        {
          "file": "img/revs/text-10.jpg",
          "mtimeMs": 1676712776000,
          "date": "2023-02-18T14:34:23.062Z"
        },
        {
          "file": "img/revs/text-10.min.jpg",
          "mtimeMs": 1676712776000,
          "date": "2023-02-18T14:34:23.841Z"
        },
        {
          "file": "img/revs/text-11.jpg",
          "mtimeMs": 1676712834000,
          "date": "2023-02-18T14:34:24.540Z"
        },
        {
          "file": "img/revs/text-11.min.jpg",
          "mtimeMs": 1676712834000,
          "date": "2023-02-18T14:34:25.351Z"
        },
        {
          "file": "img/revs/text-12.jpg",
          "mtimeMs": 1676712834000,
          "date": "2023-02-18T14:34:26.015Z"
        },
        {
          "file": "img/revs/text-12.min.jpg",
          "mtimeMs": 1676712834000,
          "date": "2023-02-18T14:34:26.751Z"
        },
        {
          "file": "img/revs/text-13.jpg",
          "mtimeMs": 1676712834000,
          "date": "2023-02-18T14:34:27.380Z"
        },
        {
          "file": "img/revs/text-13.min.jpg",
          "mtimeMs": 1676712834000,
          "date": "2023-02-18T14:34:28.371Z"
        },
        {
          "file": "img/revs/text-14.jpg",
          "mtimeMs": 1676712834000,
          "date": "2023-02-18T14:34:29.353Z"
        },
        {
          "file": "img/revs/text-14.min.jpg",
          "mtimeMs": 1676712834000,
          "date": "2023-02-18T14:34:29.922Z"
        },
        {
          "file": "img/revs/text-15.jpg",
          "mtimeMs": 1676712834000,
          "date": "2023-02-18T14:34:30.702Z"
        },
        {
          "file": "img/revs/text-15.min.jpg",
          "mtimeMs": 1676712834000,
          "date": "2023-02-18T14:34:31.552Z"
        },
        {
          "file": "img/revs/text-2.jpg",
          "mtimeMs": 1676712776000,
          "date": "2023-02-18T14:34:32.192Z"
        },
        {
          "file": "img/revs/text-2.min.jpg",
          "mtimeMs": 1676712776000,
          "date": "2023-02-18T14:34:32.802Z"
        },
        {
          "file": "img/revs/text-3.jpg",
          "mtimeMs": 1676712776000,
          "date": "2023-02-18T14:34:33.568Z"
        },
        {
          "file": "img/revs/text-3.min.jpg",
          "mtimeMs": 1676712776000,
          "date": "2023-02-18T14:34:34.423Z"
        },
        {
          "file": "img/revs/text-4.jpg",
          "mtimeMs": 1676712776000,
          "date": "2023-02-18T14:34:35.433Z"
        },
        {
          "file": "img/revs/text-4.min.jpg",
          "mtimeMs": 1676712776000,
          "date": "2023-02-18T14:34:36.307Z"
        },
        {
          "file": "img/revs/text-5.jpg",
          "mtimeMs": 1676712776000,
          "date": "2023-02-18T14:34:36.941Z"
        },
        {
          "file": "img/revs/text-5.min.jpg",
          "mtimeMs": 1676712776000,
          "date": "2023-02-18T14:34:37.569Z"
        },
        {
          "file": "img/revs/text-6.jpg",
          "mtimeMs": 1676712776000,
          "date": "2023-02-18T14:34:38.197Z"
        },
        {
          "file": "img/revs/text-6.min.jpg",
          "mtimeMs": 1676712776000,
          "date": "2023-02-18T14:34:38.918Z"
        },
        {
          "file": "img/revs/text-7.jpg",
          "mtimeMs": 1676712776000,
          "date": "2023-02-18T14:34:39.554Z"
        },
        {
          "file": "img/revs/text-7.min.jpg",
          "mtimeMs": 1676712776000,
          "date": "2023-02-18T14:34:40.344Z"
        },
        {
          "file": "img/revs/text-8.jpg",
          "mtimeMs": 1676712776000,
          "date": "2023-02-18T14:34:41.080Z"
        },
        {
          "file": "img/revs/text-8.min.jpg",
          "mtimeMs": 1676712776000,
          "date": "2023-02-18T14:34:41.838Z"
        },
        {
          "file": "img/revs/text-9.jpg",
          "mtimeMs": 1676712776000,
          "date": "2023-02-18T14:34:42.721Z"
        },
        {
          "file": "img/revs/text-9.min.jpg",
          "mtimeMs": 1676712776000,
          "date": "2023-02-18T14:34:43.679Z"
        },
        {
          "file": "img/revs/video-1.jpg",
          "mtimeMs": 1676712710000,
          "date": "2023-02-18T14:34:44.447Z"
        },
        {
          "file": "img/revs/video-2.jpg",
          "mtimeMs": 1676712710000,
          "date": "2023-02-18T14:34:45.599Z"
        },
        {
          "file": "img/revs/video-3.jpg",
          "mtimeMs": 1676712710000,
          "date": "2023-02-18T14:34:46.278Z"
        },
        {
          "file": "img/revs/video-4.jpg",
          "mtimeMs": 1676712710000,
          "date": "2023-02-18T14:34:46.894Z"
        },
        {
          "file": "img/revs/video-5.jpg",
          "mtimeMs": 1676712710000,
          "date": "2023-02-18T14:34:47.471Z"
        },
        {
          "file": "img/revs/video-6.jpg",
          "mtimeMs": 1676712710000,
          "date": "2023-02-18T14:34:48.004Z"
        },
        {
          "file": "img/revs/video-7.jpg",
          "mtimeMs": 1676712710000,
          "date": "2023-02-18T14:34:48.752Z"
        },
        {
          "file": "img/revs/video-8.jpg",
          "mtimeMs": 1676712710000,
          "date": "2023-02-18T14:34:49.423Z"
        },
        {
          "file": "img/revs/video-9.jpg",
          "mtimeMs": 1676712710000,
          "date": "2023-02-18T14:34:50.435Z"
        },
        {
          "file": "img/revs/video-10.jpg",
          "mtimeMs": 1676712710000,
          "date": "2023-02-18T14:34:44.983Z"
        },
        {
          "file": "img/icons/arrows.png",
          "mtimeMs": 1676728764331.6587,
          "date": "2023-02-18T14:16:21.029Z"
        },
        {
          "file": "img/images/petrova.png",
          "mtimeMs": 1676712654000,
          "date": "2023-02-19T13:26:29.159Z"
        }
      ]
    },
    "packages": {
      "createPackageLock": true
    },
    "images": {
      "preserveOriginal": true
    },
    "tasks": {
      "autoprefixer": {
        "cascade": true,
        "add": true,
        "remove": true,
        "supports": true,
        "flexbox": true,
        "grid": "autoplace",
        "browsers": [
          "last 2 versions"
        ],
        "sourceMap": false
      },
      "babel": {
        "sourceMap": false,
        "presets": {
          "@babel/preset-env": {
            "enable": true,
            "options": {
              "targets": [
                "last 2 versions"
              ],
              "preserveImports": false,
              "polyfills": false
            }
          },
          "@babel/preset-react": true,
          "@babel/preset-flow": false
        },
        "plugins": {
          "@babel/plugin-proposal-class-static-block": false,
          "@babel/plugin-proposal-class-properties": false,
          "@babel/plugin-proposal-decorators": {
            "enable": false,
            "options": {
              "decoratorsBeforeExport": true
            }
          },
          "@babel/plugin-proposal-export-namespace-from": false,
          "@babel/plugin-proposal-function-sent": false,
          "@babel/plugin-proposal-logical-assignment-operators": false,
          "@babel/plugin-proposal-nullish-coalescing-operator": false,
          "@babel/plugin-proposal-numeric-separator": false,
          "@babel/plugin-proposal-optional-chaining": false,
          "@babel/plugin-proposal-private-methods": false,
          "@babel/plugin-proposal-throw-expressions": false
        },
        "customPresets": [],
        "customPlugins": []
      },
      "bundle-js": {
        "sourceMap": false,
        "exclude": [
          "node_modules",
          "bower_components"
        ],
        "devMode": true,
        "globals": [],
        "externals": [],
        "babel": {
          "enable": true,
          "options": {
            "sourceMap": false,
            "presets": {
              "@babel/preset-env": {
                "enable": true,
                "options": {
                  "targets": [
                    "last 2 versions"
                  ],
                  "preserveImports": false,
                  "polyfills": false
                }
              },
              "@babel/preset-react": true,
              "@babel/preset-flow": false
            },
            "plugins": {
              "@babel/plugin-proposal-class-static-block": false,
              "@babel/plugin-proposal-class-properties": false,
              "@babel/plugin-proposal-decorators": {
                "enable": false,
                "options": {
                  "decoratorsBeforeExport": true
                }
              },
              "@babel/plugin-proposal-export-namespace-from": false,
              "@babel/plugin-proposal-function-sent": false,
              "@babel/plugin-proposal-logical-assignment-operators": false,
              "@babel/plugin-proposal-nullish-coalescing-operator": false,
              "@babel/plugin-proposal-numeric-separator": false,
              "@babel/plugin-proposal-optional-chaining": false,
              "@babel/plugin-proposal-private-methods": false,
              "@babel/plugin-proposal-throw-expressions": false
            },
            "customPresets": [],
            "customPlugins": []
          }
        },
        "css": {
          "enable": true
        }
      },
      "coffeescript": {
        "header": false,
        "bare": false,
        "sourceMap": false
      },
      "command": {
        "command": "",
        "rootDir": ""
      },
      "concat-js": {
        "sourceMap": false,
        "rootDir": ""
      },
      "copy": {
        "sourceMap": false
      },
      "dart-sass": {
        "indentType": "space",
        "allowWildcardImports": false,
        "indentWidth": 2,
        "linefeed": "lf",
        "removeCharset": false,
        "sourceMap": false
      },
      "haml": {
        "doubleQuoteAttributes": true
      },
      "jpg": {
        "quality": 90
      },
      "less": {
        "javascriptEnabled": false,
        "strictImports": false,
        "insecure": false,
        "math": "always",
        "strictUnits": false,
        "dumpLineNumbers": false,
        "sourceMap": false
      },
      "markdown": {
        "githubFlavored": true,
        "wrapWithHtml": false
      },
      "minify-css": {
        "sourceMap": false
      },
      "minify-html": {
        "caseSensitive": false,
        "collapseBooleanAttributes": true,
        "collapseInlineTagWhitespace": false,
        "collapseWhitespace": true,
        "conservativeCollapse": false,
        "decodeEntities": false,
        "html5": true,
        "includeAutoGeneratedTags": true,
        "keepClosingSlash": false,
        "minifyCSS": true,
        "minifyJS": true,
        "preserveLineBreaks": false,
        "preventAttributesEscaping": false,
        "processConditionalComments": false,
        "removeAttributeQuotes": false,
        "removeComments": true,
        "removeEmptyAttributes": false,
        "removeEmptyElement": false,
        "removeOptionalTags": false,
        "removeRedundantAttributes": false,
        "removeScriptTypeAttributes": false,
        "removeStyleLinkTypeAttributes": false,
        "removeTagWhitespace": false,
        "sortAttributes": false,
        "sortClassName": false,
        "useShortDoctype": true
      },
      "minify-js": {
        "parse": {
          "bare_returns": false
        },
        "compress": {
          "arrows": true,
          "arguments": false,
          "booleans": true,
          "booleans_as_integers": false,
          "collapse_vars": true,
          "comparisons": true,
          "computed_props": true,
          "conditionals": true,
          "dead_code": true,
          "directives": true,
          "drop_console": false,
          "drop_debugger": true,
          "evaluate": true,
          "expression": false,
          "global_defs": [],
          "hoist_funs": false,
          "hoist_props": true,
          "hoist_vars": false,
          "if_return": true,
          "inline": 3,
          "join_vars": true,
          "keep_fargs": true,
          "keep_infinity": false,
          "loops": true,
          "negate_iife": true,
          "properties": true,
          "pure_funcs": [],
          "pure_getters": false,
          "reduce_funcs": true,
          "reduce_vars": true,
          "sequences": true,
          "side_effects": true,
          "switches": true,
          "top_retain": [],
          "typeofs": true,
          "unsafe": false,
          "unsafe_arrows": false,
          "unsafe_comps": false,
          "unsafe_Function": false,
          "unsafe_math": false,
          "unsafe_proto": false,
          "unsafe_regexp": false,
          "unsafe_undefined": false,
          "unused": true
        },
        "mangle": {
          "eval": false,
          "reserved": []
        },
        "output": {
          "ascii_only": false,
          "braces": false,
          "comments": "none",
          "inline_script": true,
          "keep_numbers": false,
          "keep_quoted_props": false,
          "preamble": null,
          "quote_keys": false,
          "quote_style": 0,
          "semicolons": true,
          "shebang": true,
          "webkit": false,
          "wrap_iife": false,
          "wrap_func_args": true
        },
        "sourceMap": false,
        "toplevel": false,
        "ie8": false,
        "keep_classnames": false,
        "keep_fnames": false,
        "safari10": false
      },
      "node-sass": {
        "indentType": "space",
        "allowWildcardImports": false,
        "indentWidth": 2,
        "linefeed": "lf",
        "outputStyle": "expanded",
        "precision": 10,
        "sourceMap": false,
        "removeCharset": false,
        "sourceComments": false
      },
      "png": {
        "quality": 90
      },
      "postcss-import": {
        "ignoreKeywords": [],
        "sourceMap": false
      },
      "postcss-preset-env": {
        "stage": 2,
        "browsers": [
          "last 2 versions"
        ],
        "sourceMap": false
      },
      "pug": {
        "pretty": true
      },
      "slim": {
        "indent": "space",
        "indentSize": 2,
        "pretty": true
      },
      "stylus": {
        "useNib": true,
        "sourceMap": false,
        "linenos": false
      },
      "svg": {
        "cleanupAttrs": true,
        "removeDoctype": true,
        "removeXMLProcInst": true,
        "removeComments": true,
        "removeMetadata": true,
        "removeTitle": true,
        "removeDesc": true,
        "removeUselessDefs": true,
        "removeEditorsNSData": true,
        "removeEmptyAttrs": true,
        "removeHiddenElems": true,
        "removeEmptyText": true,
        "removeEmptyContainers": true,
        "removeViewBox": false,
        "cleanupEnableBackground": true,
        "convertStyleToAttrs": true,
        "convertColors": true,
        "convertPathData": true,
        "convertTransform": true,
        "removeUnknownsAndDefaults": true,
        "removeNonInheritableGroupAttrs": true,
        "removeUselessStrokeAndFill": true,
        "removeUnusedNS": true,
        "cleanupIDs": true,
        "cleanupNumericValues": true,
        "moveElemsAttrsToGroup": true,
        "moveGroupAttrsToElems": true,
        "collapseGroups": true,
        "removeRasterImages": false,
        "mergePaths": true,
        "convertShapeToPath": true,
        "sortAttrs": true,
        "removeDimensions": true
      },
      "tailwindcss": {
        "rootDir": "",
        "content": [
          "**/*.html",
          "**/*.php",
          "**/*.js",
          "!wp-admin",
          "!wp-includes",
          "!node_modules",
          "!Prepros Export"
        ]
      },
      "turf": {
        "rootDir": ""
      },
      "typescript": {
        "allowJs": false,
        "allowSyntheticDefaultImports": true,
        "allowUmdGlobalAccess": false,
        "allowUnreachableCode": false,
        "allowUnusedLabels": false,
        "alwaysStrict": false,
        "charset": "utf8",
        "checkJs": false,
        "declaration": false,
        "disableSizeLimit": false,
        "downlevelIteration": false,
        "emitBOM": false,
        "emitDecoratorMetadata": false,
        "experimentalDecorators": false,
        "forceConsistentCasingInFileNames": false,
        "importHelpers": false,
        "jsx": "React",
        "keyofStringsOnly": false,
        "lib": [],
        "maxNodeModuleJsDepth": 0,
        "module": "ES2015",
        "moduleResolution": "NodeJs",
        "newLine": "LineFeed",
        "noFallthroughCasesInSwitch": false,
        "noImplicitAny": false,
        "noImplicitReturns": false,
        "noImplicitThis": false,
        "noStrictGenericChecks": false,
        "noUnusedLocals": false,
        "noUnusedParameters": false,
        "noImplicitUseStrict": false,
        "noLib": false,
        "noResolve": false,
        "preserveConstEnums": false,
        "jsxFactory": "React.createElement",
        "removeComments": false,
        "skipLibCheck": false,
        "sourceMap": false,
        "strict": false,
        "strictFunctionTypes": false,
        "strictBindCallApply": false,
        "strictNullChecks": false,
        "strictPropertyInitialization": false,
        "suppressExcessPropertyErrors": false,
        "suppressImplicitAnyIndexErrors": false,
        "target": "ES3",
        "resolveJsonModule": false,
        "esModuleInterop": false,
        "useDefineForClassFields": false
      }
    },
    "fileTypes": {
      "sass": {
        "extensions": [
          ".scss",
          ".sass"
        ],
        "autoCompile": true,
        "sourceMap": false,
        "tasks": [
          {
            "task": "dart-sass",
            "enable": true
          },
          {
            "task": "autoprefixer",
            "enable": true
          },
          {
            "task": "minify-css",
            "enable": false
          }
        ],
        "output": {
          "extension": ".css",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "scss",
              "replaceWith": "css"
            },
            {
              "segment": "sass",
              "replaceWith": "css"
            }
          ]
        }
      },
      "less": {
        "extensions": [
          ".less"
        ],
        "autoCompile": true,
        "sourceMap": false,
        "tasks": [
          {
            "task": "less",
            "enable": true
          },
          {
            "task": "autoprefixer",
            "enable": true
          },
          {
            "task": "minify-css",
            "enable": false
          }
        ],
        "output": {
          "extension": ".css",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "less",
              "replaceWith": "css"
            }
          ]
        }
      },
      "pug": {
        "extensions": [
          ".pug",
          ".jade"
        ],
        "autoCompile": true,
        "tasks": [
          {
            "task": "pug",
            "enable": true
          },
          {
            "task": "minify-html",
            "enable": false
          }
        ],
        "output": {
          "extension": ".html",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "pug",
              "replaceWith": "html"
            }
          ]
        }
      },
      "css": {
        "extensions": [
          ".css"
        ],
        "autoCompile": false,
        "sourceMap": false,
        "tasks": [
          {
            "task": "copy",
            "enable": true
          },
          {
            "task": "tailwindcss",
            "enable": false
          },
          {
            "task": "postcss-import",
            "enable": false
          },
          {
            "task": "postcss-preset-env",
            "enable": false
          },
          {
            "task": "autoprefixer",
            "enable": true
          },
          {
            "task": "minify-css",
            "enable": true
          }
        ],
        "output": {
          "extension": ".css",
          "type": "SOURCE_RELATIVE",
          "relativePath": "",
          "suffix": "-dist",
          "alwaysSuffix": false
        }
      },
      "javascript": {
        "extensions": [
          ".js",
          ".jsx"
        ],
        "autoCompile": false,
        "sourceMap": false,
        "tasks": [
          {
            "task": "copy",
            "enable": true
          },
          {
            "task": "concat-js",
            "enable": false
          },
          {
            "task": "babel",
            "enable": false
          },
          {
            "task": "bundle-js",
            "enable": false
          },
          {
            "task": "minify-js",
            "enable": true
          }
        ],
        "output": {
          "extension": ".js",
          "type": "SOURCE_RELATIVE",
          "relativePath": "",
          "suffix": "-dist",
          "alwaysSuffix": false
        }
      },
      "stylus": {
        "extensions": [
          ".styl"
        ],
        "autoCompile": true,
        "sourceMap": false,
        "tasks": [
          {
            "task": "stylus",
            "enable": true
          },
          {
            "task": "autoprefixer",
            "enable": true
          },
          {
            "task": "minify-css",
            "enable": false
          }
        ],
        "output": {
          "extension": ".css",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "stylus",
              "replaceWith": "css"
            },
            {
              "segment": "styl",
              "replaceWith": "css"
            }
          ]
        }
      },
      "markdown": {
        "extensions": [
          ".md",
          ".markdown",
          ".mkd"
        ],
        "autoCompile": false,
        "tasks": [
          {
            "task": "markdown",
            "enable": true
          },
          {
            "task": "minify-html",
            "enable": false
          }
        ],
        "output": {
          "extension": ".html",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "markdown",
              "replaceWith": "html"
            }
          ]
        }
      },
      "haml": {
        "extensions": [
          ".haml"
        ],
        "autoCompile": true,
        "tasks": [
          {
            "task": "haml",
            "enable": true
          },
          {
            "task": "minify-html",
            "enable": false
          }
        ],
        "output": {
          "extension": ".html",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "haml",
              "replaceWith": "html"
            }
          ]
        }
      },
      "slim": {
        "extensions": [
          ".slim"
        ],
        "autoCompile": true,
        "tasks": [
          {
            "task": "slim",
            "enable": true
          },
          {
            "task": "minify-html",
            "enable": false
          }
        ],
        "output": {
          "extension": ".html",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "slim",
              "replaceWith": "html"
            }
          ]
        }
      },
      "coffeescript": {
        "extensions": [
          ".coffee"
        ],
        "autoCompile": true,
        "sourceMap": false,
        "tasks": [
          {
            "task": "coffeescript",
            "enable": true
          },
          {
            "task": "babel",
            "enable": false
          },
          {
            "task": "bundle-js",
            "enable": false
          },
          {
            "task": "minify-js",
            "enable": false
          }
        ],
        "output": {
          "extension": ".js",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "coffee-script",
              "replaceWith": "js"
            },
            {
              "segment": "coffeescript",
              "replaceWith": "js"
            },
            {
              "segment": "coffee",
              "replaceWith": "js"
            }
          ]
        }
      },
      "turf": {
        "extensions": [
          ".turf",
          ".kit"
        ],
        "autoCompile": true,
        "tasks": [
          {
            "task": "turf",
            "enable": true
          },
          {
            "task": "minify-html",
            "enable": false
          }
        ],
        "output": {
          "extension": ".html",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "turf",
              "replaceWith": "html"
            }
          ]
        }
      },
      "typescript": {
        "extensions": [
          ".ts",
          ".tsx"
        ],
        "autoCompile": true,
        "sourceMap": false,
        "tasks": [
          {
            "task": "typescript",
            "enable": true
          },
          {
            "task": "babel",
            "enable": false
          },
          {
            "task": "bundle-js",
            "enable": false
          },
          {
            "task": "minify-js",
            "enable": false
          }
        ],
        "output": {
          "extension": ".js",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "typescript",
              "replaceWith": "js"
            },
            {
              "segment": "ts",
              "replaceWith": "js"
            }
          ]
        }
      },
      "jpg": {
        "extensions": [
          ".jpg",
          ".jpeg"
        ],
        "tasks": [
          {
            "task": "jpg",
            "enable": true
          }
        ],
        "output": {
          "extension": ".jpg",
          "type": "SOURCE_RELATIVE",
          "relativePath": ""
        }
      },
      "png": {
        "extensions": [
          ".png"
        ],
        "tasks": [
          {
            "task": "png",
            "enable": true
          }
        ],
        "output": {
          "extension": ".png",
          "type": "SOURCE_RELATIVE",
          "relativePath": ""
        }
      },
      "svg": {
        "extensions": [
          ".svg"
        ],
        "tasks": [
          {
            "task": "svg",
            "enable": true
          }
        ],
        "output": {
          "extension": ".svg",
          "type": "SOURCE_RELATIVE",
          "relativePath": ""
        }
      }
    },
    "files": [
      {
        "file": "_app/_js/libs.js",
        "config": {
          "tasks": {
            "concat-js": {
              "enable": true
            },
            "minify-js": {
              "enable": false
            }
          },
          "autoCompile": true,
          "customOutput": "js\\libs.js"
        }
      },
      {
        "file": "_app/_js/scripts.js",
        "config": {
          "tasks": {
            "concat-js": {
              "enable": true
            },
            "minify-js": {
              "enable": false
            }
          },
          "autoCompile": true,
          "customOutput": "js\\scripts.js"
        }
      },
      {
        "file": "_app/confirm.pug",
        "config": {
          "customOutput": "confirm\\index.html"
        }
      },
      {
        "file": "_app/index.pug",
        "config": {
          "customOutput": "index.html"
        }
      },
      {
        "file": "_app/promo.pug",
        "config": {
          "customOutput": "promo\\index.html"
        }
      },
      {
        "file": "_app/styl/confirm.min.styl",
        "config": {
          "customOutput": "css\\confirm.css"
        }
      },
      {
        "file": "_app/styl/promo.min.styl",
        "config": {
          "customOutput": "css\\promo.css"
        }
      },
      {
        "file": "_app/styl/styles.min.styl",
        "config": {
          "customOutput": "css\\styles.css"
        }
      },
      {
        "file": "css/confirm.css",
        "config": {
          "autoCompile": true,
          "sourceMap": true,
          "customOutput": "css\\confirm.min.css"
        }
      },
      {
        "file": "css/promo.css",
        "config": {
          "autoCompile": true,
          "sourceMap": true,
          "customOutput": "css\\promo.min.css"
        }
      },
      {
        "file": "css/styles.css",
        "config": {
          "autoCompile": true,
          "sourceMap": true,
          "customOutput": "css\\styles.min.css"
        }
      },
      {
        "file": "js/libs.js",
        "config": {
          "sourceMap": true,
          "autoCompile": true,
          "customOutput": "js\\libs.min.js"
        }
      },
      {
        "file": "js/scripts.js",
        "config": {
          "autoCompile": true,
          "sourceMap": true,
          "customOutput": "js\\scripts.min.js"
        }
      }
    ]
  }
}
