@import 'base/1-fonts'

@import '../_css/bootstrap.min.css'
@import '../_css/flipclock.min.css'
@import '../_css/popup.css'
@import '../_css/slick.css'
@import '../_css/slick-theme.css'

@import 'base/2-base'

@import 'base/3-header'
@import 'course/1-main'
// @import 'main/2-video'
@import 'main/3-bullits'
@import 'course/4-plan'
@import 'course/5-get'
@import 'course/5-prices'
@import 'main/6-author'
@import 'main/7-revs'
@import 'base/4-footer'
@import 'main/8-modal'