#video
	padding 0 0 90px
	position relative
	z-index 68
	@media screen and (max-width 650px)
		padding 0 0 60px
	@media screen and (max-width 485px)
		padding 0 0 40px
.video-wrapper-video
	margin-bottom: 70px
	@media screen and (max-width 650px)
		margin-bottom: 45px
	@media screen and (max-width 485px)
		margin-bottom: 30px
.general-img-2
	bottom: -200px
	right -200px
	@media screen and (max-width 991px)
		right: -100px
		bottom: -150px
	@media screen and (max-width 485px)
		width 180px
		height 180px