#video
	padding 0 0 90px
	position relative
	z-index 68
.general-img-video-1
	width 100%
	max-width 1920px
	width 	1920px
	display block
	margin 0 auto
	left calc(50% - 960px)
	right 0
	top -650px
.video-wrapper-video
	margin-bottom: 70px
.general-img-2
	bottom: -200px
	right -200px