#third
	padding 90px 0
	background-color: rgba(#F5F5F5, .45)
	position relative
.spheres
	position absolute
	left 0
	bottom: -220px
	height 500px
.for-item
	width 100%
	max-width 480px
	margin 0 auto 50px
	&-title
		font-size: 59px
		font-weight: 900
		color: #FB88CB
		margin-bottom: 15px
	&-text
		font-size: 20px