#fourth
	padding 90px 0
	position relative
	// background-image: url(../img/images/fourth.jpg)
	// background-repeat: no-repeat
	// background-position: center left
	// background-size: 400px
.plan
	&-packet
		position relative
		z-index 30
		background-image: url(../img/images/fourth.png)
		background-repeat: no-repeat
		background-position: center left
		background-size: 500px
		// min-height 600px
		padding-top: 10px
	&-title
		font-size: 32px
		font-family: GP
		font-weight: bold
		text-transform uppercase
		color #d694c9
		margin-bottom: 30px
		small
			display block
			font-size: 18px
			font-family: G
			font-weight: normal
			color #000
			text-transform none
	&-text
		font-size: 24px
		font-weight: 600
		margin-bottom: 20px
.lesson
	border-radius: 7px;
	box-shadow: 0px 1px 44.16px 1.84px rgba(0, 0, 0, 0.3);
	width: 100%;
	max-width: 684px;
	margin: 0 0 0 auto
	padding: 35px 45px;
	position: relative;
	background-color: #fff;
.button-wrapper-fourth
	margin: 70px 0 0 auto
	// text-align right