CG = 'CraftworkGrotesk', sans-serif;
G = 'Gropled', sans-serif;

@font-face
	font-family: 'CraftworkGrotesk';
	font-display: fallback;
	font-weight: normal;
	font-style: normal;
	src: url('../fonts/CraftworkGrotesk.eot');
	src: url('../fonts/CraftworkGrotesk.eot') format('embedded-opentype'),url('../fonts/CraftworkGrotesk.woff2') format('woff2'),url('../fonts/CraftworkGrotesk.woff') format('woff'),url('../fonts/CraftworkGrotesk.ttf') format('truetype'),url('../fonts/CraftworkGrotesk.svg#CraftworkGrotesk') format('svg');
@font-face
	font-family: 'CraftworkGrotesk';
	font-display: fallback;
	font-weight: bold;
	font-style: normal;
	src: url('../fonts/CraftworkGroteskBold.eot');
	src: url('../fonts/CraftworkGroteskBold.eot') format('embedded-opentype'),url('../fonts/CraftworkGroteskBold.woff2') format('woff2'),url('../fonts/CraftworkGroteskBold.woff') format('woff'),url('../fonts/CraftworkGroteskBold.ttf') format('truetype'),url('../fonts/CraftworkGroteskBold.svg#CraftworkGroteskBold') format('svg');
@font-face
	font-family: 'GropledBold';
	font-display: fallback;
	font-weight: bold;
	font-style: normal;
	src: url('../fonts/GropledBold.eot');
	src: url('../fonts/GropledBold.eot') format('embedded-opentype'),url('../fonts/GropledBold.woff2') format('woff2'),url('../fonts/GropledBold.woff') format('woff'),url('../fonts/GropledBold.ttf') format('truetype'),url('../fonts/GropledBold.svg#GropledBold') format('svg');