header
	overflow hidden
	padding 20px 0
	margin-bottom: 40px
	position relative
	z-index 60
.header-logo
	float left
.contacts
	float: right
	text-align right
	line-height: 15px
.contact
	font-size: 16px
	margin-right: 20px
	&:focus
		text-decoration none
		color #000
	&:hover
		text-decoration underline
		color #000
	&:last-of-type
		margin-right: 0