section#main
	.main-img
		+ims('','img/images/main.png','Анастасия Петрова')
	.container
		include ../base/1-header
		.row
			.col-md-6
				//- p.main-pre Практика
				h1.main-title Курсы и тренинги Анастасии Петровой
				h2.main-subtitle Смените вектор и парадигму жизни на желаемые с помощью несложных действий и инструментов
				.main-info.hide
					p Автор: 
						span Анастасия Петрова
				p.main-info.hide Старт: 
					span 18 февраля 2023, в 12:00(мск)
				+b('button-up', href, 'Записаться')