section#main
	.container
		.content
			h1.main-title Экстрасенсорное видение
			h2.main-subtitle Раскрой своё внутреннее зрение и расширь границы своей интуиции.
			.main-date
				.main-date-day
					p 1
						span марта
				.main-day-time
					p 19:00 Мск
			.main-author
				p.main-author-text
					span Автор: 
					| Анастасия Петрова