section#main
	.container
		include ../base/1-header
		.content
			h1.main-title Экстрасенсорное видение
			h2.main-subtitle Раскрой своё внутреннее зрение и&nbsp;расширь границы своей интуиции.
			.main-date
				.main-date-day
					p 1
						span марта
				.main-date-time
					p 19:00 Мск
			.main-author
				p.main-author-text
					span Автор: 
					|  Анастасия Петрова