section#second
	img.spheres(src=path+"img/images/spheres.png" alt="Сферы")
	.container
		p.second-text
			span У&nbsp;вас последняя возможность приобрести эти факультативы в&nbsp;записи на&nbsp;очень выгодных для вас условиях. 
				br
				| Больше в&nbsp;продаже их не&nbsp;будет! Успейте воспользоваться этой возможностью до&nbsp;конца&nbsp;года! 
			span.date С&nbsp;1&nbsp;января 2023г. все эти факультативы-практикумы будут сняты с&nbsp;продажи!
		+b('', '', href, 'Выбрать')
		//- img.masks(src=path+"img/images/masks.png" alt="Маски")
		//- img.fenix(src=path+"img/images/fenix.png" alt="Феникс")