mixin fi(n,p)
	.col-md-4
		.for-item
			h4.for-item-title='0'+n
			p.for-item-text!=p

section#third
	img.spheres(src=path+"img/images/spheres.png" alt="Сферы")
	.container
		h3.general-title Данные курсы и тренинги необходимы тем, кто:
		.row
			+fi('1', 'Чувствует внутреннюю силу и зов интуиции к&nbsp;развитию. Желает развить сверхспособности, которым можно позавидовать')
			+fi('2', 'Готов найти в&nbsp;себе внутреннюю опору. Хочет научиться справляться с&nbsp;эмпатией')
			+fi('3', 'Желает знать, видеть, чувствовать и понимать гораздо больше, чем видят глаза')
		.row
			+fi('4', 'На 100% уверен в&nbsp;своем желании иметь достаток. Хочет увеличить свой финансовый уровень и расширить денежный канал')
			+fi('5', 'Готов рассчитывать не&nbsp;только на&nbsp;себя, но и принимать помощь от Высших, и готов трудиться с&nbsp;верой в&nbsp;успех')
			+fi('6', 'Умеет хранить свои собственные тайны и готов принять в&nbsp;свою жизнь изобилие и благополучие')
		.row
			+fi('7', 'Мечтает иметь круг единомышленников, в&nbsp;котором не&nbsp;покрутят пальцем у&nbsp;виска')
			+fi('8', 'Стремится открыть в&nbsp;себе новые грани и выйти на&nbsp;новый уровень развития')
			+fi('9', 'Хочет развить каналы ясновидения и найти новый, более высокий, метод развития и самосовершенствования')