mixin bs(n, p)
	.bullet(class='bullet-'+n)
		+imgs('bullet-img bullet-img-'+n, 'img/images/bullet-'+n+'.png', p)
		p.bullet-text=p

section#bullets
	.container
		.content
			+imgs('general-img general-img-bullets', 'img/images/decor-2.png', 'Декор')
			.bullets
				+bs('1', 'Чувствуете внутреннюю силу и зов интуиции к развитию или желаете развить сверхспособности, которым можно позавидовать?')
				+bs('2', 'Готовы найти в себе внутреннюю опору или желаете знать, видеть, чувствовать и понимать гораздо больше, чем видят глаза?')
				+bs('3', 'А может вы хотите иметь круг единомышленников, в котором не покрутят пальцем у виска?')
				+bs('4', 'Или устали быть жертвой негативных, нагнетенных страхов, и хотите раскрыть в себе новые грани и выйти на следующий уровень развития?')
				+bs('5', 'Уже являетесь действующим психологом, астрологом или специалистом в другой эзотерической направленности и хотите развить или усовершенствовать каналы ясновидения?')
				+bs('6', 'А может вы планировали найти новый и более высший метод развития и самосовершенствования, или хотите сделать экстрасенсорное видение своей профессией?')
			.bullet-subtitle
				h4 Тогда этот мастер-класс вам точно необходим!
			+b('button-up', href, 'Мне это необходимо')