section#fourth
	.container
		+gt('','Что даст вам прохождение данных курсов и тренингов?')
		.plan-packet
			.lesson
				ul.general-list
					li умение разговаривать на&nbsp;языке своего подсознания и слышать интуицию;
					li освобождение от&nbsp;блокирующей эмпатии, мешающей приходить к&nbsp;целям и задачам;
					li улучшение качества жизни и физического состояния через развитие своих сверхспособностей и магические ритуалы;
					li выстраивание гармоничных взаимоотношений с&nbsp;самим собой и своим окружением;
					li раскрытие потенциала и новые возможности для его реализации, а&nbsp;также для привлечения новых источников дохода.
			+b('button-wrapper-fourth', '', href, 'Получить пользу')