mixin gi(n, p)
	.col-md-6
		.get-item(class='get-item-'+n)
			p.get-item-text=p

section#get
	.container
		.content
			+imgs('heneral-img general-img-get', 'img/images/decor-4.png', 'Декор')
			+gt('', 'Что даст вам мастер-класс')
			.row
				+gi('1', 'Получите технику, которую с легкостью встроите в свою жизнь, даже если вы никогда не занимались развитием интуиции и экстрасенсорных способностей.')
				+gi('2', 'Начнете  свои изменения, с помощью полученных знаний сможете влиять на свой мир и окружение.')
			.row
				+gi('3', 'Узнаете прогноз о том, как изменится мир в следующие 5 лет и как мы будем друг с другом общаться, и каким образом вам пригодится экстрасенсорное видение.')
				+gi('4', 'Совершите путешествие в будущее и, если что-то вам не понравится из того, что вы увидите, вы сможете с этим поработать и внести свои коррективы, чтобы получить нужные изменения.')
			.row
				+gi('5', 'Научитесь защищаться от вампирических энергий, распознавать их и применять способы защиты для себя и своих близких.')
				+gi('6', 'Знания, которые вы получите на мастер-классе сможете передавать своим детям!')
			+b('button-up', href, 'Получить пользу')