section#author
	.container
		.row
			.col-md-6.col-md-push-6
				+ims('author-img','img/images/petrova.png','Анастасия Петрова')
			.col-md-6.col-md-pull-6
				h5.general-title.general-title-left Анастасия Петрова
				ul.general-list
					li Автор запатентованного в&nbsp;РФ метода работы с&nbsp;мышлением и ресурсами мозга Neuromodeling.
					li Создатель бренда Neuromodeling.
					li Автор легендарного метода развития экстрасенсорных способностей - Экстрасенсорное видение.
					li Провела более 30&nbsp;курсов и тренингов
					li Обучила за&nbsp;последние 4&nbsp;года, более 3500&nbsp;человек, получивших новую профессию, и помогающих людям по&nbsp;всему миру.
					li Расстановщик, мастер дистанционного видения, психолог по&nbsp;направлению формирования конфликтологической компетентности, преподаватель Access Bars.
					li Участница знаменитой поляны битвы экстрасенсов - 23&nbsp;сезона.
					li Мастер Денежной магии.