section#author
	.container
		.content
			+imgs('general-img general-img-author', 'img/images/ev.png', 'Экстрасенсорное виддиние')
			.author-content
				+imgs('author-img', 'img/images/petrova.png', 'Анастасия Петрова')
				.author-info
					p.author-pretitle о тренере
					+gt('', 'Анастасия Петрова')
					ul.author-list
						li Автор запатентованного в РФ метода работы с мышлением и ресурсами мозга Neuromodeling.
						li Автор запатентованного в РФ метода работы с мышлением и ресурсами мозга Neuromodeling.
						li Создатель бренда Neuromodeling.
						li Автор легендарного метода развития экстрасенсорных способностей - Экстрасенсорное видение.
						li Провела более 30 курсов и тренингов.
						li Обучила за последние 4 года, более 3500 человек, благодаря чему они получили новую профессию, и помогают людям по всему миру.
						li Расстановщик, мастер дистанционного видения, психолог по направлению. формирования конфликтологической компетентности, преподаватель Access Bars.
						li Участница знаменитой поляны битвы экстрасенсов - 23 сезона.
						li Мастер Денежной магии.