.white-popup.mfp-hide#fac-1
	h3.modal-title
		small курс
		| «Экстрасенсорное видение»
	h4.modal-subtitle Данный курс содержит 20% теории и 80% практики. 
	ul.general-list.general-list-2
		li Основан на направлении развития интуитивных и экстрасенсорных способностей человека, на практиках сканирования информации по любому запросу из разных контекстов жизни.
		li Курс уникален тем, что он легко встраивается в жизнь: с помощью уникальной подачи тренером глубокой информации, вам больше не придется ходить по разным специалистам, собирая о себе тонны мнений.
		li Курс подходит для тех, кто уже проходил разные терапии: искал ответы на вопросы о появлении причин своих состояний, неудач, страхов, и неспособности изменить свой вектор развития и стать сильнее.
		li Вас ждет пошаговый алгоритм считывания информации о том, как действовать в самых разных ситуациях.
		li С алгоритмами, которые обретете на курсе, вы сможете насквозь видеть отношения, ситуации. Сможете видеть, знать и понимать все, что будет происходить поступив вы так или иначе.
	h4.modal-subtitle Что вы получите от курса:
	ul.general-list.general-list-2
		li Получите базу экстрасенсорного видения и необходимые навыки стрессоустойчивости и магического равновесия.
		li Перестанете дергаться, бояться, и переживать, с первого дня вы начнете  свои изменения, с помощью полученных знаний сможете влиять на свой мир и окружение.
		li Узнаете о своих сверх способностях и силе, обретете опору внутри себя и вам по силам будет справиться с любыми обстоятельствами в жизни.
		li Сможете предвидеть на три шага вперед, и знать к чему приведет тот или иной шаг.
		li Не только научитесь разговаривать на уровне подсознание, оно  станет вашим надежным проводником, но и получите практические навыки, которыми сможете работать с собой, со своими близкими, и помогать другим людям.
		li Вам не надо будет обращаться к другим специалистам, чтобы узнать  информацию, которая большему количеству людей не доступно, так как освоите способы быстрого и эффективного считывания информации в контексте отношений, денег или целей.
		li Расширите диапазон своих рабочих инструментов. Если вы ведете личную практику, то эти инструменты станут более эффективным преимуществом перед конкурентами.
		li С первого дня вы внедрите в свою жизнь новые инструменты по  считыванию информации, сможете просматривать к чему  могут привести те или иные действия, и какой шаг или решения могут привести к наиболее благоприятному развитию событий, например в сфере межличностных отношений, целей или доходов.
	h4.modal-subtitle Программа курса:
	p.modal-text
		span 1 урок. 
		| Техника безопасности. Уровни защиты. В чём сила магов и экстрасенсов? Первичная диагностика
	p.modal-text
		span 2 урок. 
		| Сбор сенсорной информации. Рабочее состояние экстрасенса. Что в белом конверте? Работа в парах
	p.modal-text
		span 3 урок. 
		| Обучение подсознания: знаки, символы и сигналы. Путь мага. Сканирование человека. Сканирование целей
	p.modal-text
		span 4 урок. 
		| Метод спец служб: Дистанционное видение. Поисковая система. Как интуиция измеряется в деньгах. Первые платные диагностики
	p.modal-text
		span 5 урок. 
		| Предназначение. Как понять судьбу человека? Миссия, и как ее изменить? 
	p.facultatives-table-cost.modal-cost Стоимость:
		span.sale 6 900р.
	+b('', 'button-cost', 'https://shop.mv-centr.ru/?r=ordering/cart/as1&id=1534&clean=true&lg=ru', 'Выбрать', '_blank', '')

.white-popup.mfp-hide#fac-2
	h3.modal-title
		small курс
		| «Денежная магия»
	h4.modal-subtitle Курс разработан для тех, кто:
	ul.general-list.general-list-2
		li 100% уверен в своем желании иметь деньги
		li Хочет увеличить свой финансовый уровень и расширить денежный канал.
		li Готов рассчитывать не только на себя, но и принимать помощь от Высших Сил.
		li Готов трудиться с верой в успех.
		li Умеет хранить свои собственные тайны.
		li Готов принять в свою жизнь изобилие и благополучие.
		li Хочет управлять своими финансами и приумножать их, стать магнитом для денег.
	h4.modal-subtitle Программа курса:
	p.modal-text
		span 1 урок. Основы денежной магии.
	ul.general-list.general-list-2
		li Технику безопасности, главный принцип - не навреди!
		li Узнаете, как денежная магия работает, и когда она не работает. Как сделать так, чтобы она работала всегда.
		li Создание денежного алтаря.
		li Как правильно благодарить за помощь в денежных делах.
	p.modal-text
		span 2 урок. Ритуалы очищения и денежное сознание.
	ul.general-list.general-list-2
		li Избавитесь от деструктивных программ, родовых блоков, родовых сценариев.
		li Отключение энергий создающих отток.
		li Развитие Чуйки, практические инструменты и составление комбинаций успеха.
	p.modal-text
		span 3 урок. Диагностика на магическое воздействие.
	ul.general-list.general-list-2
		li Избавление от внутренних и внешних врагов.
		li Избавление от конфликтов.
		li Как успокоить страх смерти?
		li Как защититься от тайных врагов и завистников?
		li Особенности магического воздействия в кризис.
	p.modal-text
		span 4 урок. Как защитить свои деньги.
	ul.general-list.general-list-2
		li Самая сильная опасность в кризис.
		li Как выйти из кризисной ситуации.
		li Как пережить точку невозврата.
		li Защитные заговоры и ритуалы.
	p.modal-text
		span 5 урок. Поднятие денежного потолка. Практика.
	ul.general-list.general-list-2
		li Отключение от эгрегора бедности.
		li Подключение к денежному эгрегору.
		li Подключение к эгрегору богатства.
	p.modal-text
		span 6 урок. Ритуалы и символы удачи.
	ul.general-list.general-list-2
		li Создание антикризисного амулета.
		li Талисманы и обереги, зарядка на привлечение денег.
		li Денежные зоны в вашем теле.
	p.modal-text
		span 7 урок. Практическая денежная магия.
	ul.general-list.general-list-2
		li Завязка денежных узлов.
		li Зарядка купюр.
		li Получение потока успеха от успешных людей.
	p.modal-text
		span 8 урок. Помощники и денежные покровители.
	ul.general-list.general-list-2
		li Привлечение духов рода.
		li Помощь рода в преодолении финансовых неудач. 
		li Ритуалы для выхода из кризиса.
	p.modal-text
		span 9 урок. Как избавиться от долгов с радостью?
	ul.general-list.general-list-2
		li Скажите долгам и кредитам нет!
		li Ритуалы на избавление от кредитов и долгов.
	p.modal-text
		span 10 урок. Расширение денежного потока.
	ul.general-list.general-list-2
		li Как стать магнитом для денег
		li Деньги и карма.
		li Как управлять деньгами, давать, дарить и приумножать. Как это взаимосвязано?
	p.modal-text
		span 11 урок. Основные денежные законы.
	ul.general-list.general-list-2
		li Ритуалы, как обратить на себя внимание вселенной.
		li Сила благодарности.
		li Открытие потока изобилия.
	p.modal-text
		span 12 урок. Деньги в новом времени.
	ul.general-list.general-list-2
		li Как  пережить кризис с выгодой для себя.
		li Как понять намерения финансовых организаций и финансовых систем в отношении вас?
		li Как не стать жертвой обмана.
	h4.modal-subtitle Благодаря данному курсы вы:
	ul.general-list.general-list-2
		li Получите уникальные рабочие инструменты, с помощью которых сможете менять уровень своей энергии и управлять денежным потоком в новом, изменяющемся времени.
		li Освоите денежные практики и ритуалы денежной магии, и будете иметь возможность привлекать и сохранять финансы. Вы сможете применять эти знания для помощи не только себе, но и другим.
		li Избавитесь от препятствий и блоков на пути к деньгам. Научитесь останавливать отток энергии и держать баланс.
		li Узнаете принцип работы денежной энергии и ее взаимодействие с другими энергиями.
		li Научитесь видеть возможности и перспективы получения финансов из разных источников. С первого дня обучения вы внедрите новые знания в свою жизнь на практике.
		li Подключитесь к денежному эгрегору и привлечете в свой круг успешных и удачливых в финансовых делах людей.
	p.facultatives-table-cost.modal-cost Стоимость:
		span.sale 12 900р.
	+b('', 'button-cost', 'https://shop.mv-centr.ru/?r=ordering/cart/as1&id=1553&clean=true&lg=ru', 'Выбрать', '_blank', '')

.white-popup.mfp-hide#fac-3
	h3.modal-title
		small Факультатив
		| «Бизнес и собственное дело через системно-родовую терапию»
	h4.modal-subtitle Получите ответы на следующие вопросы:
	ul.general-list.general-list-2
		li ​​​Как работать с бизнесом (своим делом) в системно-родовой терапии
		li Динамика бизнеса (дела) назад. Что может запустить кризис в бизнесе
		li Прогноз на успешность  бизнеса (дела)
		li Когда не стоит бизнес вытягивать из кризиса 
		li Кому посвящается бизнес (дело) или что определяет бизнес-успех?
		li Как правильно найди «течь» в бизнесе или от куда растут корни проблем 
		li Саботаж бизнеса (своего дела)
		li Демонстрационная сессия по запросу участников на тему бизнеса (своего дела)
	p.facultatives-table-cost.modal-cost Стоимость:
		span.full 2 500р.
		span.sale 1 250р.
	+b('', 'button-cost', 'https://shop.mastervision.su/?r=ordering/cart/as1&id=6079&clean=true&lg=ru', 'Выбрать', '_blank', '')

.white-popup.mfp-hide#fac-4
	h3.modal-title
		small Факультатив
		| «Голодомор»
	p.modal-text
		span Факультатив по теме веса. 
		| Факультатив направлен на выявления причин бесконечной борьбы с весом. Именно борьбы, когда человек посвящает свои мысли, энергию, ожидания, связанные с весом. Факультатив является практическим материалом, через который можно вести клиента по теме веса.
	h4.modal-subtitle Этот факультатив для тех, кто:
	ul.general-list.general-list-2
		li хотел бы работать с лишним/недостаточным весом клиентов, а также своим весом
		li кто хотел бы научиться выявлять причины веса и вести клиента до результата 
		li кто хотел бы разобраться в причинах переедания/аскетичности 
		li кто хотел бы разобраться в причинах зависимости от еды/отказа от еды 
		li кто хотел бы получить пошаговую технологию работы с весом
	h4.modal-subtitle Результаты, которые Вы получите после прохождения факультатива:
	ul.general-list.general-list-2
		li научитесь пошагово вести клиентов с проблемой веса
		li узнаете, как голодомор влияет на проблему с весом
		li научитесь работать с проблемой голодомора через закрытие «голодного» поля
		li на примере одного из участников поймете, как работает система по работе с весом
		li сможете работать по такому же алгоритму с другими зависимостями
	p.facultatives-table-cost.modal-cost Стоимость:
		span.full 1 500р.
		span.sale 750р.
	+b('', 'button-cost', 'https://shop.mastervision.su/?r=ordering/cart/as1&id=6076&clean=true&lg=ru', 'Выбрать', '_blank', '')

.white-popup.mfp-hide#fac-5
	h3.modal-title
		small Факультатив
		| «Детско-родительские переплетения. Куда "смотрит" ребёнок»
	h4.modal-subtitle Получите ответы на следующие вопросы:​
	ul.general-list.general-list-2
		li Выбор ребенка следовать «за матерью». Почему дети делают выбор в пользу поддержки судьбы родителей, а не своей собственной
		li Полевая диагностика судьбы ребенка. Куда (за кем) следует ребенок при выборе судьбы
		li Женская лояльность, или почему в нашем роду все женщины повторяли судьбу. Выход из родового переплетения
		li Материнское бессилие и детская сила. Родительская обида и детская вина
		li Мама, я последую за тобой, или мама, я доделаю за тебя то, с чем ты не справилась – одиночество, бездетность, несчастливая женская судьба
		li Мама, я спасу тебя – стану для тебя мужем, мамой и отцом. Как дети под воздействием безусловной любви занимают в системе не свои места
		li Переплетение детско-родительских судеб, как принцип лояльности (принадлежности) к роду
		li Демонстрационная сессия с участником факультатива по запросу
	p.facultatives-table-cost.modal-cost Стоимость:
		span.full 2 500р.
		span.sale 1 250р.
	+b('', 'button-cost', 'https://shop.mastervision.su/?r=ordering/cart/as1&id=6077&clean=true&lg=ru', 'Выбрать', '_blank', '')

.white-popup.mfp-hide#fac-6
	h3.modal-title
		small Факультатив
		| «Как создавать свои курсы и программы с нуля»
	h4.modal-subtitle  Данный факультатив для тех, кто хочет:
	ul.general-list.general-list-2
		li Начать вести свои программы, курсы, марафоны, тренинги
		li Составить свою авторскую обучающую методику
		li Научиться писать учебные пособия
		li Выйти на более широкую аудиторию
		li Делать свои программы, но не знает, как их составлять
		li Подходит как для учеников Жанны Абрамовой, так и для тех, кто учился на других курсах, но так и не начал свою тренерскую деятельность
	h4.modal-subtitle О чем будет факультатив:
	ul.general-list.general-list-2
		li Как понять, кто твоя целевая аудитория. Учимся говорить со своей ЦА на одном языке
		li Как разбираться в том, кому ты будешь интересен. Как узнать «зайдет» ли аудитории твоя информация
		li Как сделать свои программы уникальными
		li С чего начинать писать программы
		li Как решиться начать вести свои курсы. Что необходимо знать и учитывать для успешного запуска курса
		li Как зарабатывать на тренингах
		li Как увеличить свой доход за счет масштабирования через курсы
	h4.modal-subtitle  План факультатива
	ul.general-list.general-list-2
		li Триггеры. Буллиты. Конверсия. Что это такое? Что необходимо знать, прежде чем начать писать свою программу
		li Боль клиентов. Почему люди покупают то, что лежит в основе их боли? Как прописывать больки клиентов. Как работать с тем, что действительно актуально клиентам
		li Как разрабатывать курсы. Пошаговая методологическая структура
		li Как составить предварительную краткую структуру тренинга, по которому пишется расширенный курс
		li Как писать цепляющие тексты, чтобы люди захотели купить вашу информацию
	p.facultatives-table-cost.modal-cost Стоимость:
		span.full 2 500р.
		span.sale 1 250р.
	+b('', 'button-cost', 'https://shop.mastervision.su/?r=ordering/cart/as1&id=6078&clean=true&lg=ru', 'Выбрать', '_blank', '')

.white-popup.mfp-hide#fac-7
	h3.modal-title
		small Факультатив
		| «"Кривая" идентичность»
	p.modal-text
		span Данный факультатив ТОЛЬКО для практикующих терапевтов!
	h4.modal-subtitle Получите ответы на следующие вопросы:
	ul.general-list.general-list-2
		li Идентичность, как ощущение себя
		li Как формируется идентичность. Кто виноват, что я такая (ой)
		li Кто я? Что я? Зачем я живу? Вопрос выбора судьбы.
		li Бессознательные решения, формирующие нашу судьбу. «Жить плохо» - это так же вопрос бессознательного решения
		li Проработка «кривой» идентичности через технологию «Работа с идентичностью»
		li Практики и техники по выходу из нежеланных состояний и событий
	p.facultatives-table-cost.modal-cost Стоимость:
		span.full 1 500р.
		span.sale 750р.
	+b('', 'button-cost', 'https://shop.mastervision.su/?r=ordering/cart/as1&id=6081&clean=true&lg=ru', 'Выбрать', '_blank', '')

.white-popup.mfp-hide#fac-8
	h3.modal-title
		small Факультатив
		| «Ленность. Апатия. Депрессия. Суицид»
	h4.modal-subtitle Получите ответы на следующие вопросы:​​
	ul.general-list.general-list-2
		li Уверенность с точки зрения науки и психотерапии. Как повысить самоценность
		li Суицид с точки зрения биологии. Моя дочь вместе со мной расскажет именно с биологической точки зрения о том, как ведут себя клетки человека в момент «желания умереть». Как биология «помогает» нам сдаваться или выживать
		li Как работать с людьми в состоянии «подавленной воли». С чего необходимо начинать в работе с леностью, депрессией или желанием уйти из жизни
	h4.modal-subtitle Вебинар для всех:
	ul.general-list.general-list-2
		li Кто хотел бы разобраться с собственной самооценкой не только с точки зрения психологии, но и науки
		li Кто хотел бы научиться менять свои внутренние настройки с деструктивных (биологически искаженных) на эффективные 
		li Кто хотел бы узнать, как устроено наше «Я»
		li Кто хотел бы узнать, что такое «правда» и как она делает человека свободным
	p.facultatives-table-cost.modal-cost Стоимость:
		span.full 2 500р.
		span.sale 1 250р.
	+b('', 'button-cost', 'https://shop.mastervision.su/?r=ordering/cart/as1&id=6080&clean=true&lg=ru', 'Выбрать', '_blank', '')

.white-popup.mfp-hide#fac-9
	h3.modal-title
		small Факультатив
		| «Любовный треугольник»
	p.modal-text Вебинар о том, как в поле пары появляются любовники/любовницы. 
	h4.modal-subtitle Получите ответы на следующие вопросы:
	ul.general-list.general-list-2
		li Какие процессы стоят за расщеплением пары? 
		li Почему рождаются дети на стороне? 
		li В какие случаях возникновение третьего партнера необходимо для спасения пары? 
		li В каких случаях развод неизбежен, а в каких необходимо брак спасать? 
		li Чем любовница «полезна» жене? 
		li Как жена помогает любовнице следовать своей программе «одиночество»? 
		li Как и чем расплачиваются дети, когда родители находятся в любовном треугольнике? 
		li Чем чреват развод для родовой системы?
		li Как правильно расходиться, чтобы в дальнейшем можно было благополучно строить новые отношения? 
	p.facultatives-table-cost.modal-cost Стоимость:
		span.full 1 500р.
		span.sale 750р.
	+b('', 'button-cost', 'https://shop.mastervision.su/?r=ordering/cart/as1&id=6082&clean=true&lg=ru', 'Выбрать', '_blank', '')

.white-popup.mfp-hide#fac-10
	h3.modal-title
		small Факультатив
		| «Мужчина в кризисе»
	p.modal-text Вебинар о том, как помочь мужчине в кризисе. Что сделать, чтобы он стал орлом и взлетел.
	h4.modal-subtitle Получите ответы на следующие вопросы:
	ul.general-list.general-list-2
		li Как проживают кризис мужчины
		li Причины мужского кризиса
		li Отличие мужского кризиса от женского. Как необходимо себя вести женщине, чтобы мужчина «встал с колен»
		li Мужчина и его мужской род. Работа с кризисом рода мужчин через системную терапию
		li Точка сборки мужчин. Что мужчину способно «разобрать»
		li Как предотвратить кризис. Развод или помощь мужчине в кризисе. Как поступить правильно.
		li «Антикризисное» воспитание сыновей. Как воспитать сына так, чтобы он не был подвержен внутренним кризисам. Женщина мать
		li Как женщины бессознательно вводят в кризис своих мужчин. Почему мужчины уходят. Возможно ли построить счастье на «руинах». Что делать, когда отношения изжили себя
		li Мужчина и деньги. Что делать, когда он не зарабатывает
		li Демо-сессия (разбор истории по запросу) в прямом эфире
	p.facultatives-table-cost.modal-cost Стоимость:
		span.full 2 500р.
		span.sale 1 250р.
	+b('', 'button-cost', 'https://shop.mastervision.su/?r=ordering/cart/as1&id=6084&clean=true&lg=ru', 'Выбрать', '_blank', '')

.white-popup.mfp-hide#fac-11
	h3.modal-title
		small Факультатив
		| «Работа с любовными треугольниками»
	p.modal-text Работа с любовными треугольниками. Самый спорный и неоднозначный для обывателей факультатив
	h4.modal-subtitle Этот факультатив для тех, кто:
	ul.general-list.general-list-2
		li Работает по методу системно-родовой терапии, через системные расстановки, с метафорическими картами и хотел бы получить, абсолютно не вписывающиеся в рамки поверхностного видения, знания по работе с любовным треугольником
		li Хочет изучить тему любовных треугольников совершенно с иной, непривычной, точки зрения. Разобраться не с позиции «все мужики гуляют», а с позиции «полевого» устройства треугольников. Кто какую роль в треугольнике занимает на самом деле
		li Работает с любыми другими видами терапии и хотел бы получить «расстановочное» видение возникновения любовных треугольников
		li Стремится разобраться в своих личных проблемах, связанных с «третьим лишним»
		li Хотел бы поучаствовать в личном разборе в качестве участника на демо сессии
	h4.modal-subtitle Темы, которые будут рассмотрены на факультативе:
	ul.general-list.general-list-2
		li Как образовывается пара. Как формируется крепкая парная «совместность». В какой момент появляется место для третьего «не лишнего». Роль любовниц/любовников в паре. В чем любовница «помогает» жене? Чем чревато отсутствие любовников, если место под третьего в паре высвободилось? Баланс ресурсов в треугольнике
		li В чем любовница служит жене, чем чревато место любовницы? Кто на самом деле приглашает любовницу в пару. В чем любовник и муж служат женщине
		li Что отдает и получает любовница. Что отдает и получает любовник. Что через любовный треугольник получает пара?
		li Вторичная выгода в любовном треугольнике для жены. Вторичная выгода для мужа
		li Как выйти из треугольника. Стоит ли «прощать»?
		li Как избежать измен? Полевое устройство измен
		li Почему треугольники склонны к повторению. «Ушел от жены к любовнице и завел любовницу»
		li Участникам будет предложена расстановочная модель работы с любовным треугольником
		li Демо сессия для участника
	h4.modal-subtitle С какими задачами сможете разобраться на факультативе:
	ul.general-list.general-list-2
		li Понять, как формируются любовные треугольники
		li Узнать, как искать корень проблемы
		li Научиться работать с первопричиной проблемы и устранять ее
		li Поймёте, как работать с треугольниками
		li Получите методику, через которую сможете работать с клиентами и с собой
	p.facultatives-table-cost.modal-cost Стоимость:
		span.full 1 500р.
		span.sale 750р.
	+b('', 'button-cost', 'https://shop.mastervision.su/?r=ordering/cart/as1&id=6075&clean=true&lg=ru', 'Выбрать', '_blank', '')

.white-popup.mfp-hide#fac-12
	h3.modal-title
		small Факультатив
		| «Сила фамилии твоей»
	h4.modal-subtitle Получите ответы на следующие вопросы:​
	ul.general-list.general-list-2
		li Удивительно, но один из самых часто задаваемых вопросов – это вопрос смены фамилии:
			ul.general-sublist
				li Необходимо ли менять фамилию при замужестве
				li Возвращать ли назад девичью фамилию при разводе
				li На чью фамилию записывать ребенка, если отец ребенка отказывается давать свою фамилию
				li Можно ли давать детям фамилию отчима
				li Чем чревато сокрытие от ребенка биологического отца
				li Чем отличаются гражданские и законные браки с точки зрения принадлежности к роду «мужа». В каком случае безопаснее не расписываться официально
				li Почему женщины, порой, отказываются брать фамилию мужа, и какие могут быть последствия от отказа вступать в род мужа
		li Имена. Как имена влияют на судьбу человека. Почему человек , порой, отрицает свое имя. В каких случаях необходима смена имени. Имена, названные "в честь"……..  Какую карму несет человек, названный в честь кого-то. Последствия имени, данного в честь ушедшего родственника,  умершего ребенка, близкого человека
		li Имя при крещении или принятии духовной конфессии. Связь со святыми и учителями. Демонстрационная сессия
	p.facultatives-table-cost.modal-cost Стоимость:
		span.full 1 500р.
		span.sale 750р.
	+b('', 'button-cost', 'https://shop.mastervision.su/?r=ordering/cart/as1&id=6085&clean=true&lg=ru', 'Выбрать', '_blank', '')

.white-popup.mfp-hide#fac-13
	h3.modal-title
		small Факультатив
		| «Создание пары»
	h4.modal-subtitle Данный факультатив даст ответы на следующие вопросы:
	ul.general-list.general-list-2
		li Создание пары, как этап семейного системного развития: вышла замуж, потому что «надо»
		li Женился, потому что мама/девушка настояла
		li Семья «по залету». Семья по принуждению
		li Семья по родовому сценарию
		li Семья по судьбе
		li Каким динамикам следует пара в каждом случае
		li Системные законы в парности и одиночестве
		li Почему кто-то проходит путь одиночества, а кто-то цепляется за отношения
		li Страх одиночества
		li Созависимость в паре
		li Любовь. Что такое на самом деле любовь?
		li Почему любовь проходит?
		li Как в поле выглядит истинная любовь и как ее отличить от «союза травм» (сошлись родовыми травмами)
		li Как понять, что партнёр по судьбе, а не для отработки родовых травм
		li Какие отношения изначально обречены на конфликты и расставание (принцип парного невроза)
	p.facultatives-table-cost.modal-cost Стоимость:
		span.full 2 500р.
		span.sale 1 250р.
	+b('', 'button-cost', 'https://shop.mastervision.su/?r=ordering/cart/as1&id=6086&clean=true&lg=ru', 'Выбрать', '_blank', '')

.white-popup.mfp-hide#fac-14
	h3.modal-title
		small Факультатив
		| «Точка любви»
	h4.modal-subtitle Этот факультатив для тех:
	ul.general-list.general-list-2
		li Кто ведет терапевтическую практику и хочет получить дополнительные знания и техники по работе с сексуальностью: МАК-терапевтов, специалистов по системно-родовой терапии, метафизиков, специалистов любых других терапевтических направлений
		li Кто хочет эффективно помогать клиентам в вопросах проработки сексуальной сферы и при травмах насилия
		li Кто хотел бы восстановить свою сексуальность и понять причину ее снижения. Разобраться с давно волнующими вопросами сексуальных взаимоотношений в паре
		li Кто хочет разобраться с личными проблемами сексуального характера
		li Кто хочет сохранить отношения, но не знает, как наладить утраченный сексуальный контакт
		li Кто перенес травму насилия и не может вступать в полноценные сексуальные отношения
		li Кто не умеет выстраивать личные границы в сексуальной сфере
		li Кто хотел бы активировать свою сексуальную сферу и ощутить новые грани взаимоотношений, лучше чувствовать себя и партнера
	h4.modal-subtitle Темы, которые будут рассмотрены на факультативе:
	ul.general-list.general-list-2
		li Что такое здоровая сексуальность. Как она проявляется
		li Что такое травмированная сексуальность. Факторы, влияющие на снижение влечения
		li Что означает отсутствие Либидо. Причины снижения сексуальной функции
		li Сексуальные травмы. Их возникновение и влияние на личную жизнь
		li Сексуальное влечение в паре. Что делать, когда влечения нет. Как сохранить отношения
		li Сексуальные проблемы в отношениях: проблема отсутствия сексуального желания, аноргазмия, отсутствие либидо
		li Травмы насилия. Их последствия. Как помочь клиенту
		li Что поможет преодолеть проблемы в сексуальной сфере и вернуть близость с партнером
		li Как проработать сексуальную травму и восстановить либидо
		li Как тема сексуальности передается по наследству. Какие блокирующие сценарии, программы и установки мы несем
		li Личные границы: физические, психологические. Их связь с сексуальностью
		li Работа с травмами границ в теме сексуальности
		li Отсутствие сексуального желания как защита от гипотетической травмы
	h4.modal-subtitle Работа с сексуальностью через авторские МАК-техники от Жанны Абрамовой:
	ul.general-list.general-list-2
		li «Травмированная сексуальность»
		li «Сексуальность в партнерских отношениях»
		li «Работа с травмой сексуальности»
	h4.modal-subtitle Задачи, с которыми вы сможете разобраться на факультативе:
	ul.general-list.general-list-2
		li Поймете, как отсутствие сексуального желания может являться защитным механизмом, не давая строить полноценные отношения
		li Разберетесь, почему во взаимоотношениях наступает сексуальный холод и поймете как с ним справиться
		li Научитесь выявлять причины сексуальных трудностей у клиентов и работать с ними через МАК-техники
		li Разберетесь с собственными проблемами в сексуальной сфере. Поймете, что послужило их причиной и какие действия помогут с ними справиться
		li Узнаете, как запустить новый виток своей сексуальной жизни, освободившись от травм
		li Поймете, как проработать и отпустить травму, не дающую получать сексуальное удовольствие в паре
		li Поймете, что необходимо предпринять, чтобы восстановить утерянный сексуальный контакт с партнером
		li Разберетесь с наследственными механизмами, влияющими на формирование и проявление сексуальности
		li Научитесь работать с темой границ в сексуальной сфере
		li Узнаете, как сохранить отношения и привнести в них новые краски
		li Получите 3 авторских МАК-техники от Жанны Абрамовой по работе с сексуальностью
	p.facultatives-table-cost.modal-cost Стоимость:
		span.full 2 500р.
		span.sale 1 250р.
	+b('', 'button-cost', 'https://shop.mastervision.su/?r=ordering/cart/as1&id=6087&clean=true&lg=ru', 'Выбрать', '_blank', '')

.white-popup.mfp-hide#fac-15
	h3.modal-title
		small Факультатив
		| «Тревожный синдром. Панические атаки»
	p.modal-text
		span Этот факультатив даст надежду людям, которые уверены, что им уже ничто не поможет.
	p.modal-text
		span Когда колет в груди и страшно жить. 
		| Этот факультатив будет полезен тем, кто сам страдает от панических атак или наблюдает, как мучаются его близкие люди, а также тем, кто изучает МАК, метафизику, системно-родовую терапию
	p.modal-text
		span Жить станет легче. 
		| Вы сможете прямо на факультативе разрешить собственные внутренние эмоциональные конфликты и почувствуете облегчение своего состояния
	p.modal-text
		span Чудо-методика. 
		| На занятии Вы освоите методологию по работе с тревожным синдромом и паническими атаками и по аналогии с проведённой тренером демосессией научитесь самостоятельно проводить результативные сессии
	p.modal-text
		span Найти и распознать проблему. 
		| Факультатив позволит Вам дополнить спектр направлений своей работы психоэмоциональными конфликтами и начать распознавать проблемы, которые привели к паническим атакам и тревожному синдрому
	h4.modal-subtitle План однодневного факультатива:
	ul.general-list.general-list-2
		li Панические атаки как следствие вегето-сосудистой дистонии
		li Природа происхождения панических атак
		li Принцип нахождения первопричины, породившей панические атаки
		li Упражнение «Первопричина панических атак»
		li Метод работы с паническими атаками
		li Демосессия по запросу панических атак
		li Тревожный синдром как одна из причин возникновения панических атак
		li Причины возникновения тревожного синдрома
		li Методология работы с тревожным синдромом
	p.facultatives-table-cost.modal-cost Стоимость:
		span.full 1 500р.
		span.sale 750р.
	+b('', 'button-cost', 'https://shop.mastervision.su/?r=ordering/cart/as1&id=6088&clean=true&lg=ru', 'Выбрать', '_blank', '')

.white-popup.mfp-hide#fac-16
	h3.modal-title
		small Факультатив
		| «Чтение поля в системно-родовой терапии»
	h4.modal-subtitle Получите ответы на следующие вопросы:
	ul.general-list.general-list-2
		li Как правильно выявлять запрос клиента перед системно-родовой терапии
		li Как правильный запрос упрощает ход системно-родовой терапии и как некорректный запрос заводит в тупик.
		li Как правильно читать поле
		li В каком случае необходимо атрибутировать ситуацию (выявлять конкретную ситуацию в поле), а в каком случае достаточно поле «прочитать» и «разрядить»
		li Как правильно расположить людей (фигуры) в процессе системно-родовой терапии
		li Как правильно следовать динамике поля
		li Насилие поля - что категорически нельзя делать в системно-родовой терапии
		li Опасная системно-родовая терапия. Что может навредить клиенту
		li Как правильно закрывать поле в системно-родовой терапии
		li Пошаговая технология с начала терапии до ее экологичного завершения
		li Как и в чем личные травмы специалиста по системно-родовой терапии влияют на ход самой терапии
		li Чем опасен резонанс ситуации специалиста с ситуацией клиента.  Как специалисту закрыть свою открывшуюся травму во время терапии
		li Что делать, когда не знаешь, как дальше вести сеанс системно-родовой терапии
		li Что делать, когда все фигуры статичны и  никуда не двигаются
		li Что делать, если специалист не понимает, о чем говорит поле
		li Как правильно вводить новые фигуры
		li Как понять, какие фигуры вводить
		li Что делать, если после терапии состояние клиента ухудшилось
		li Демонстрационная сессия с участником факультатива по запросу
	p.facultatives-table-cost.modal-cost Стоимость:
		span.full 2 500р.
		span.sale 1 250р.
	+b('', 'button-cost', 'https://shop.mastervision.su/?r=ordering/cart/as1&id=6089&clean=true&lg=ru', 'Выбрать', '_blank', '')

.white-popup.mfp-hide#fac-17
	h3.modal-title Пакет из 16 факультативов
	p.modal-text В данный пакет входят все 16 факультативов Жанны Абрамовой, которые она проводила в&nbsp;прошлые годы, и которые участвуют в финальной распродаже.
	h4.modal-subtitle Перечень факультативов входящих в данный пакет:
	ul.general-list.general-list-2
		li «Аборты. Выкидыши. Замершая беременность»
		li «Бесплодие»
		li «Бизнес и собственное дело через системно-родовую терапию»
		li «Голодомор»
		li «Детско-родительские переплетения. Куда "смотрит" ребёнок»
		li «Кривая» идентичность»
		li «Как создавать свои курсы и программы с нуля»
		li «Ленность. Апатия. Депрессия. Суицид»
		li «Любовный треугольник»
		li «Мужчина в кризисе»
		li «Работа с любовными треугольниками»
		li «Сила фамилии твоей»
		li «Создание пары»
		li «Точка любви»
		li «Тревожный синдром. Панические атаки» 
		li «Чтение поля в системно-родовой терапии»
	p.facultatives-table-cost.modal-cost Стоимость:
		span.sale 5 900р.
	+b('', 'button-cost', 'https://shop.mastervision.su/?r=ordering/cart/as1&id=6090&clean=true&lg=ru', 'Выбрать', '_blank', '')