section#main
	.container
		include ../base/1-header
		.content
			p.main-pre Обучающий курс
			h1.main-title Экстрасенсорное видение
			//- h2.main-subtitle Раскрой своё внутреннее зрение и&nbsp;расширь границы своей интуиции.
			.main-date
				.main-date-day
					p 6
						span.text старт
						span марта
				.main-date-time
					p 19:00 Мск
			.main-author
				p.main-author-text
					span Автор: 
					|  Анастасия Петрова
			+b('button-main', href, 'Иду на курс')