section#plan
	+imgs('general-img general-img-plan-1', 'img/images/clouds-2.png', 'Облака')
	.container
		.content
			+imgs('general-img general-img-plan-2', 'img/images/decor-3.png', 'Декор')
			+gt('', 'Программа мастер-класса')
			ul.general-list
				li Что такое экстрасенсорика и чем она отличается от магии.
				li Зачем развивать экстрасенсорику.
				li Какую силу дают развитые экстрасенсорные способности.
				li Как это может вам пригодиться в жизни.
				li Почему развитые способности ясно видеть, ясно слышать, ясно знать являются навыками нового времени.
				li Как изменится мир и человеческое восприятие в ближайшие 5 лет. Прогноз на ближайшие 5 лет. Что ждет человечество в ближайшие 5 лет.
				li Как мы будем понимать друг друга в будущем, не говоря ни слова.
				li Практика: Путешествие в будущее.
			.bonus
				h5.bonus-title Бонус
				p.bonus-text
					span Как защититься от энергетических вампиров? 
					| На бонусе мы рассмотрим виды вампирических воздействий, и как происходит отбор энергии. Рассмотрим классификацию вампиров, и как их распознать, чтобы уберечь свою энергию и не стать жертвой. Поставим защиту, и вы научитесь ее применять для себя, своих близких, и даже клиентов, если вы работаете с людьми в области помогающих профессий.
			+b('', href, 'Иду на мастер-класс')