section#plan
	+imgs('general-img general-img-plan-1', 'img/images/clouds-2.png', 'Облака')
	.container
		.content
			+imgs('general-img general-img-plan-2', 'img/images/decor-3.png', 'Декор')
			+gt('', 'Программа мастер-класса')
	.full-plan-slider-titles
		each h in [1,2,3,4,5,6,7,8]
			h3.full-plan-slider-title='Модуль' + h
	.container
		.full-plan-sider
			.module
				h4.module-title Введение в экстрасенсорное видение
				h5.lesson-number Урок 1
				ul.general-list
					li Что такое экстрасенсорика и магия
					li Что должен знать и уметь экстрасенс
					li Основа магической работы
					li Основные принципы ясновидящего человека
					li Основные принципы магии
					li Как правильно погружаться в рабочее состояние экстрасенса
			.module
				h4.module-title Техника безопасности и чистки
				.row
					.col-md-6
						h5.lesson-number Урок 2
						ul.general-list
							li Техника безопасности
							li Техники защиты
							li Техники очищения
							li Зарядка ножа и свечей
					.col-md-6
						h5.lesson-number Урок 3
						ul.general-list
							li Как избавиться  от блоков и блокирующих убеждений мешающих заниматься экстрасенсорикой
							li Настрой внутренней энергии
			.module
				h4.module-title Развитие экстрасенсорного восприятия
				.row
					.col-md-6
						h5.lesson-number Урок 4
						ul.general-list
							li Как определить ведущий канал восприятия
							li Интерпретация чувств
							li Ассоциативное видение и ассоциативное считывание
						h5.lesson-number Урок 5
						ul.general-list
							li Развитие каналов видения: ясно вижу, ясно слышу, ясно знаю, ясно чувствую
							li Формирование экстрасенсорной памяти
							li Экстрасенсорное  и магическое мышление
					.col-md-6
						h5.lesson-number Урок 6
						ul.general-list
							li Законы вселенной применяющиеся в магии и экстрасенсорике
							li Работа с эгрегорами
							li Подключение и отключение к эгрегорам
			.module
				h4.module-title Активное считывание  информации
				.row
					.col-md-6
						h5.lesson-number Урок 7
						ul.general-list
							li Искусство задавать вопросы
							li Связь с будущим и прогнозировать
							li Вещие сны
					.col-md-6
						h5.lesson-number Урок 8
						ul.general-list
							li Знаки вселенной
							li Как отличить свои мысли от подсказок вселенной?
							li Диагностика и чтение информационного поля
			.module
				h4.module-title Поисковая система экстрасенса
				.row
					.col-md-6
						h5.lesson-number Урок 9
						ul.general-list
							li Координатное видение
							li Как находить предметы
							li Как находить человека
							li Как отличить живое от мертвого
					.col-md-6
						h5.lesson-number Урок 10
						ul.general-list
							li Как считывать информацию о событиях прошлого
							li Вспомогательные инструменты: маятники, свечи, весы, дополнительные практики
			.module
				h4.module-title Знакомство и общение с тонким миром 
				.row
					.col-md-6
						h5.lesson-number Урок 11
						ul.general-list
							li Знакомство с наставниками
							li Как привлечь помощника из тонкого мира
							li Создание защитной печати
					.col-md-6
						h5.lesson-number Урок 12
						ul.general-list
							li Методы общения  с духами
							li Как правильно обращаться за помощью
							li Как распознать сущности и обитателей темного мира
							li Какие сущности нам помогают и что они могут для нас создать
							li Сила взгляда, как ее тренировать
			.module
				h4.module-title Работа с энергией, помощь себе и другим
				.row
					.col-md-6
						h5.lesson-number Урок 13
						ul.general-list
							li Трансформация энергии
							li Магические посты
					.col-md-6
						h5.lesson-number Урок 14
						ul.general-list
							li Диагностики и снятие вредоносных  воздействий
							li Диагностики по фото и вещам
							li Диагностики свечёй
							li Диагностики яйцом
			.module
				h4.module-title Магия твоего предназначение и раскрытие себя с новыми знаниями
				.row
					.col-md-6
						h5.lesson-number Урок 15
						ul.general-list
							li Магия твоего предназначение. Как понять свой наилучший вариант развития
							li Миссия
					.col-md-6
						h5.lesson-number Урок 16
						ul.general-list
							li Секреты консультирования  и работы с людьми
							li Виды клиентов и как сними работать
							li Как помогать другим не в ущерб себе
		+b('', href, 'Иду на курс')