mixin gi(n, p)
	.get-item(class='get-item-'+n)
		p.get-item-text=p

section#get
	.container
		.content
			+imgs('general-img general-img-get', 'img/images/decor-4.png', 'Декор')
			+gt('', 'Что вы получите от курса?')
			.get-items
				+gi('1', 'Овладеете новыми навыками экстрасенсорного видения, для их использования в новом времени. Будете знать, видеть, чувствовать и понимать больше, чем видят ваши глаза.')
				+gi('2', 'Сможете применять полученные знания и практики в своей повседневной жизни и профессиональной деятельности для принятия правильных и быстрых решений, для видения возможностей и перспектив.')
				+gi('3', 'Откроете для себя новый, более высокий способ развития и самосовершенствования. Повысите уровень жизненной и физической силы.')
				+gi('4', 'Настроите экстрасенсорную память. Будете четко понимать, как работает ваша интуиция, и на каком языке с вами говорит ваше подсознание.')
				+gi('5', 'Получите знания, навыки и практики, которые можно и нужно передавать детям!')
				+gi('6', 'Экстрасенсорное видение может стать вашей профессией, а также вы сможете усилить этими знаниями свою существующую практику.')
				+gi('7', 'Научитесь прогнозировать события будущего. Будете мгновенно отличать правду от лжи. Сможете просканировать любого человека в его намерениях в отношении вас')
				+gi('8', 'Сэкономите на походах к другим специалистам, так как вы станете профессионалом в считывании информации.')
			+b('button-get', href, 'Получить пользу')