section#prices
	.container
		+gt('', 'Выберите свой вариант обучения')
		.row
			.col-md-6
				.packet
					.packet-head
						h4.packet-head-title
							small пакет
							| Основной
					.packet-body
						ul.general-list
							li 8&nbsp;тематических модулей, в&nbsp;которые входят 16&nbsp;уроков
							li домашние задания с&nbsp;проверкой кураторами и обратной связью
							li закрытый чат курса
					.packet-footer
						|
						<?php if($now < $date){;?>
						p.cost.cost-full Стоимость:
							span 55 900р.
						p.cost.cost-sale Стоимость сегодня:
							span 48 900р.
						+b('button-cost', 'https://shop.mv-centr.ru/?r=ordering/cart/as1&id=1602&clean=true&lg=ru', 'Оплатить 1&nbsp;000р.', '_blank', 'link-1')
						|
						|<?php } else {;?>
						p.cost.cost-full Стоимость:
							span.unbroken 55 900р.
						+b('button-cost', 'https://shop.mv-centr.ru/?r=ordering/cart/as1&id=1599&clean=true&lg=ru', 'Оплатить', '_blank')
						|
						|<?php };?>
				|
				<?php if($now < $date):?>
				.prepayment
					p.prepayment-text При оплате 
						span 1&nbsp;000р. 
						br
						| на счет вам зачисляются дополнительные 
						span 6&nbsp;000р.
				|
				|<?php endif;?>
			.col-md-6
				.packet
					.packet-head
						h4.packet-head-title
							small пакет
							| VIP
					.packet-body
						ul.general-list
							li 8&nbsp;тематических модулей, в&nbsp;которые входят 16&nbsp;уроков
							li домашние задания с&nbsp;проверкой лично Анастасией и обратной связью
							li закрытый чат курса
							li дополнительный закрытый чат с&nbsp;Анастасией
					.packet-footer
						|
						<?php if($now < $date){;?>
						p.cost.cost-full Стоимость:
							span 69 900р.
						p.cost.cost-sale Стоимость сегодня:
							span 62 900р.
						+b('button-cost', 'https://shop.mv-centr.ru/?r=ordering/cart/as1&id=1606&clean=true&lg=ru', 'Оплатить 1&nbsp;000р.', '_blank', 'link-2')
						|
						|<?php } else {;?>
						p.cost.cost-full Стоимость:
							span.unbroken 69 900р.
						+b('button-cost', 'https://shop.mv-centr.ru/?r=ordering/cart/as1&id=1603&clean=true&lg=ru', 'Оплатить', '_blank')
						|
						|<?php };?>
				|
				<?php if($now < $date):?>
				.prepayment
					p.prepayment-text При оплате 
						span 1&nbsp;000р. 
						br
						| на счет вам зачисляются дополнительные 
						span 6&nbsp;000р.
				|
				|<?php endif;?>
		|
		<?php if($now < $date):?>
			.timer
				h4.timer-title До конца акции:
				.clock
		|
		|<?php endif;?>